html, body, main {
  height: 100%;
}

main {
  display: block;
}
#index-banner, #about-banner {
  background-color: #b570b4;
  color: #FCFCFC;
}


#index-banner {
  min-height: 100%;
}

#building {
  margin-top: 100px;
  color: #FCFCFC;
  font-size: 20px;
}

#about {
  background-color: #D1A5D1;
  width: 260px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  font-weight: 400;
}